/* Общие стили */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("/src/assets/fonspring.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app {
  display: block;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

/* Деление сайта на две половины */
#parent {
  display: flex;
}
#parent #left {
  flex-grow: 1;
}
#parent #right {
  flex-grow: 1;
}
